.advertising {
  height: 80px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: none;
  background-color: $background-color-green;

  @include for-medium {
    padding: 50px;
  }

  @include for-large {
    height: 150px;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__btn {
    width: 250px;
    background-color: $background-color-white;

    @include for-medium {
      width: 200px;
      margin-right: 30px;
    }
  }

  &__icon {
    margin-right: 10px;
  }

  &__description {
    display: none;
    max-width: 300px;
    font-size: 13px;
    line-height: 1.5;

    @include for-medium {
      display: block;
    }
  }
}
