$color-green: #90F9AD;
$color-black-lighter: rgba(0, 0, 0, .2);
$color-black-light: rgba(0, 0, 0, .4);
$color-black: #343A40;

$background-color-white: white;
$background-color-black: $color-black;
$background-color-green: $color-green;
